<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="app_name" value="FirmManager"/>
		<add key="connection_string" value="server=localhost;database=firmmanager;uid=root;password=Uz5HdyIteAcLf7jZLzKz8PFKDorw8swE;"/>
		<add key="start_maximized" value="true"/>
	</appSettings>
</configuration>
